<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>
    <%= category %>
  </title>

</head>
<body>
    <%- include('./partials/nav') %>

   <h1><%= category %></h1>

<ul>
  <% categoryList.forEach(menu => { %>
    <li><strong>Name:</strong> <%= menu.name %></li>
    <li><strong>Price:</strong> $<%= menu.price %></li>
    <li><strong>Rating:</strong> <%= menu.rating %></li>
    <li><strong>Details:</strong> <%= menu.details %></li>
    <hr />
  <% }); %>
</ul>


</body>
</html>

