<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <h1>Full Menu</h1>

 <% categoryItems.forEach(menu => { %>
    <li><strong>Name:</strong> <%= menu.name %></li>
    <li><strong>Price:</strong> $<%= menu.price %></li>
    <li><strong>Rating:</strong> <%= menu.rating %></li>
    <li><strong>Details:</strong> <%= menu.details %></li>
    <hr />
  <% }); %>

</body>
</html>

